<div class="col-xs-12 col-sm-4 col-md-3">
	<div class="course-item">
		<div class="row">
			<div class="col-xs-4 col-sm-12">
			<a href="/<%=config.category_dir%>/<%=slug%>/" class="course-item--link" title="Meer informatie over <%=title%>">
				<!-- <img src="/images/courses/<%=image%>" alt="<%=title%>" class="img-circle img-responsive"> -->
				<img src="http://placehold.it/200x200" alt="<%=title%>" class="course-item--image img-circle img-responsive">
			</a>
		</div>
		<div class="col-xs-8 col-sm-12">
			<h3 class="course-item--title">
				<a href="/<%=config.category_dir%>/<%=slug%>/"><%=title%></a>
			</h3>
			<div class="course-item--description">
				<p><%- truncate(description, 50) %></p>
				<div class="course-item--details">
					<span class="badge">EN</span>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>